<div class="modal-header">
	<h2>Update user</h2>
	<div class="modal-body">

		<form name="updateUserForm" ng-submit="submitUpdateUserForm(updateUser, currentUser.id, currentUser.index)">

			<div class="form-group">
				<label for="username">Name</label>
				<input type="text" id="username" class="form-control col-lg-4" placeholder="Name" name="username" ng-init="updateUser.name=currentUser.name" ng-model="updateUser.name" required>
				<span ng-show="updateUserForm.username.$error.required && updateUserForm.username.$dirty">Enter username.</span>
			</div>

			<div class="form-group">
				<label for="username">Email</label>
				<input type="email" id="email" class="form-control" placeholder="Email" name="email" ng-init="updateUser.email=currentUser.email" ng-model="updateUser.email" required>
				<span ng-show="updateUserForm.email.$error.required && updateUserForm.email.$dirty && createUserForm.email.email">Enter email.</span>
			</div>

			<div class="form-group">
				<label for="username">Phone</label>
				<input type="text" id="phone" class="form-control" placeholder="Phone" name="phone" ng-init="updateUser.phone=currentUser.phone" ng-model="updateUser.phone" required>
				<span ng-show="updateUserForm.phone.$error.required && updateUserForm.phone.$dirty">Enter phone.</span>
			</div>

			<div class="form-group">
				<label for="username">Website</label>
				<input type="text" id="website" class="form-control" placeholder="Website" name="website" ng-init="updateUser.website=currentUser.website" ng-model="updateUser.website" required>
				<span ng-show="updateUserForm.website.$error.required && updateUserForm.website.$dirty">Enter website.</span>
			</div>

			<div class="form-group">
				<label for="username">Company</label>
				<input type="text" id="companyName" class="form-control" placeholder="Company name" name="companyName" ng-init="updateUser.company.name=currentUser.company.name" ng-model="updateUser.company.name" required>
				<span ng-show="updateUserForm.companyName.$error.required && updateUserForm.website.$dirty">Enter company name</span>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn-success" ng-disabled="updateUserForm.$invalid">Update</button>

				<button type="button" class="btn btn-danger" ng-click="createUserModalUpdate.dismiss('Cancel')">Close</button>
			</div>
		</form>
	</div>
</div>
